In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Caminho para o arquivo CSV
dataset_prouni = '../data/raw/cursos-prouni.csv'

# Carregar dados do dataset
df = pd.read_csv(dataset_prouni)
df.head()

df.to_csv("../data/processed/cursos_prouni_limpo.csv", index=False)

In [15]:
# Verificação dos tipos de dados
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   grau                  41447 non-null  object
 1   turno                 41447 non-null  object
 2   mensalidade           41447 non-null  float64
 3   bolsa_integral_cotas  32520 non-null  float64
 4   bolsa_integral_ampla  25404 non-null  float64
 5   bolsa_parcial_cotas   8828 non-null   float64
 6   bolsa_parcial_ampla   13041 non-null  float64
 7   curso_id              41447 non-null  int64
 8   curso_busca           41447 non-null  object
 9   cidade_busca          41447 non-null  object
 10  uf_busca              41447 non-null  object
 11  cidade_filtro         41447 non-null  object
 12  universidade_nome     41447 non-null  object
 13  campus_nome           41447 non-null  object
 14  campus_id             41447 non-null  int64
 15  nome                  41447 non-null  object
 16  nota_integral_ampla   32520 non-null  float64
 17  nota_integral_cotas   16802 non-null  float64
 18  nota_parcial_ampla    16350 non-null  float64
 19  nota_parcial_cotas    5519 non-null   float64
dtypes: float64(9), int64(2), object(9)
memory usage: 6.3+ MB
None

In [16]:
# Estatísticas gerais
print(df.describe())

        mensalidade  bolsa_integral_cotas  bolsa_integral_ampla  \
count  41447.000000          32520.000000          25404.000000
mean     622.636966              1.535394              2.513541
std      606.442296              2.191578              3.019549
min      139.000000              0.000000              1.000000
25%      278.000000              0.000000              1.000000
50%      393.350000              1.000000              1.000000
75%      825.000000              2.000000              3.000000
max     9999.990000             58.000000             67.000000

       bolsa_parcial_cotas  bolsa_parcial_ampla      curso_id     campus_id  \
count          8828.000000         13041.000000  4.144700e+04  4.144700e+04
mean              1.873018             8.632544  4.207360e+13  6.786530e+05
std               2.336403            18.372991  6.061552e+13  6.398410e+05
min               1.000000             1.000000  2.248801e+07  2.240000e+02
25%               1.000000             1.000000  6.460131e+11  1.172300e+04
50%               1.000000             2.000000  2.003572e+12  6.587550e+05
75%               2.000000             6.000000  1.036636e+14  1.058794e+06
max              74.000000           350.000000  2.008632e+14  2.008633e+06

       nota_integral_ampla  nota_integral_cotas  nota_parcial_ampla  \
count         32520.000000         16802.000000        16350.000000
mean            575.982999           564.470439          527.517136
std              57.827594            57.869145           60.202170
min             450.000000           450.000000          450.000000
25%             544.360000           532.865000          453.980000
50%             580.740000           571.450000          532.420000
75%             614.145000           603.315000          573.235000
max             781.200000           792.240000          776.360000

       nota_parcial_cotas
count         5519.000000
mean           511.799638
std             56.787140
min            450.000000
25%            450.000000
50%            511.820000
75%            557.170000
max            768.340000

In [17]:
# Verificação da existência de valores nulos 
print(df.isnull().sum())

grau                        0
turno                       0
mensalidade                 0
bolsa_integral_cotas     8927
bolsa_integral_ampla    16043
bolsa_parcial_cotas     32619
bolsa_parcial_ampla     28406
curso_id                    0
curso_busca                 0
cidade_busca                0
uf_busca                    0
cidade_filtro               0
universidade_nome           0
campus_nome                 0
campus_id                   0
nome                        0
nota_integral_ampla      8927
nota_integral_cotas     24645
nota_parcial_ampla      25097
nota_parcial_cotas      35928
dtype: int64